@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@400;700);
@import '../../App.module.scss';

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Overpass;
  font-size: 15px;
  padding: 30px;
  width: 374px;
  height: 374px;
  background-color: #1d242d;
  border-radius: 25px;
  box-sizing: border-box;
  &.center{
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  span {
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    color: $lightGrey;
    margin: 0;
  }
}

