@import '../UI/Circle.module.scss';
@import '../../App.module.scss';

.btnContainer {
  display: flex;
  justify-content: space-between;
  .rateBtn {
    @extend .circleContainer;
    border: 0;
    color: $lightGrey;
    font-weight: 700;
    cursor: pointer;
  }
  .rateBtn:hover {
    background-color: $lightGrey;
    color: $white;
  }
  .rateBtn.active {
    background-color: $orange;
    color: $white;
  }
}

.submitBtn {
  @extend .rateBtn;
  width: 100%;
  height: 48px;
  background-color: $orange;
  border: 0;
  border-radius: 48px;
  color: $white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $orange;
  }
  &:disabled {
    opacity: 0.3;
  }

  &:disabled:hover {
    background-color: $orange;
    color: $white;
    cursor: default;
  }
}
