@import '../../App.module.scss';

.starInfo {
  height: 35px;
  width: 196px;
  background-color: $darkBlue;
  color: $orange;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
